@page "/home"
@using qcu_unit_windows.Components.Layout
@layout DashboardLayout
@inject NavigationManager Navigation

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="home-sidebar">
    <h1 class="txt1-headline">QCU Repo</h1>
    <input class="logout-button" type="button" value="TmpStrPg" @onclick="qcuUnitStore" />
    <input class="logout-button" type="button" value="Logout" @onclick="qcuUnitLogin" />
</div>

<div class="home-layout2">
    <section class="search-section">
        <div class="search-bar">
            <input type="text" placeholder="Search..." />
            <button>Search</button>
        </div>
    </section>
    <h1 class="txt1 featured-title">Featured</h1>
    <div class="no-scrollbar featured-grid">
        <div class="home-content-container">
            <p>Application 1</p>
        </div>
        <div class="home-content-container">
            <p>Application 2</p>
        </div>
        <div class="home-content-container">
            <p>Application 3</p>
        </div>
    </div>
</div>

@code {
    private void qcuUnitLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void qcuUnitStore()
    {
        Navigation.NavigateTo("/Store");
    }
}
