@page "/Store"
@using qcu_unit_windows.Components.Layout
@layout StoreLayout
@inject NavigationManager Navigation

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="store-sidebar">
	<h1>This is a store page</h1>
</div>