@inherits LayoutComponentBase

<div class="login-layout">
    <div class="welcome-box">
        <h1>Welcome to QCU Repository</h1>
        <br /><br /><br />
        <p>This platform allow you to access, store and manage QCU resources easily.</p> <br /><br />
        <p>Please log in below to continue.</p>
    </div>


    <div class="invis-block">
    <div class="login-box">
        @Body
    </div>
    </div>
</div>