@inherits LayoutComponentBase

<div class="login-layout">
    <!-- Transparent Navbar -->
    <div class="transparent-navbar">
        <p>QCUREPO</p>
        <button class="theme-toggle-btn">Toggle</button>
    </div>

    <!-- Welcome Section -->
    <div class="welcome-box">
        <h1>Welcome to QCU Repository</h1>
        <br /><br /><br />
        <p>This platform allows you to access, store and manage QCU resources easily.</p> <br /><br />
        <p>Please log in below to continue.</p>
    </div>

    <!-- Login Box -->
    <div class="invis-block">
        <div class="login-box">
            @Body
        </div>
    </div>
</div>
