@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.home-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: linear-gradient(to right, #3674e1, #a1c4fd);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.home-layout2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
}

.home-sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: #333;
    gap: 20px;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    padding: 14px;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #333;
    margin: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* Drop shadow */
}

.search-section {
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 5px;
    max-width: 90%;
    margin: 0 auto;
}

    .search-bar input[type="text"] {
        padding: 0.75rem;
        border: none;
        background: transparent;
        flex-grow: 1;
        outline: none;
        font-size: 1rem;
        color: #333;
    }

    .search-bar button {
        padding: 8px 15px;
        margin-right: 6px;
        background-color: #3674e1;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

        .search-bar button:hover {
            background-color: #4383f3;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .search-bar button:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
        }

.logout-button {
    background-color: #b83930;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 12px;
    width: 100px;
    margin-top: auto;
}

    .logout-button:hover {
        background-color: #c84a40;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

.no-scrollbar {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-grow: 1;
    padding: 15px;
    margin-left: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

.featured-title {
    color: white;
    padding-left: 12px;
    font-size: 20px;
    margin-left: 45px;
}

.featured-grid {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin-left: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.txt1 {
    font-size: 20px;
}

.txt1-headline {
    font-size: 25px;
    color: white;
    font-weight: 600;
}

/* Media Query for Mobile and Smaller Devices */
@media (max-width: 768px) {
    .home-layout {
        flex-direction: column;
    }

    .home-sidebar {
        display: none; /* Hide sidebar on mobile */
    }

    .home-layout2 {
        padding-left: 0;
        padding-right: 0;
    }

    .search-bar {
        max-width: 100%; /* Ensure search bar is full width */
    }
}
